name: 'Close stale issues and PRs'

on:
  schedule:
   - cron: "0 3 * * *" # every day at 3 AM UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      issues: write
      pull-requests: write
    steps:
      - name: Close Stale Issues
        uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          days-before-stale: 60
          days-before-close: 7
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
          stale-issue-message: |
            This issue has been automatically marked as stale because it has not had 
            recent activity. It will be closed if no further activity occurs. 
            Thank you for your contributions.
          stale-pr-message: |
            This pull request has been automatically marked as stale because it has not had 
            recent activity. It will be closed if no further activity occurs. 
            Thank you for your contributions.
          exempt-issue-labels: 'security,good first issue,triaged'
          exempt-pr-labels: 'security'
          remove-stale-when-updated: true
